* {
	box-sizing: border-box
}

.container {
	display: center;
  	margin-left: auto;
  	margin-right: auto;
  	clear: both;
  	width: 75%;
}

.row {
	display: inline-block;
	clear: both;
	width: 100%;
}

.left-most {
	margin-left: 0;
}

.right-most {
	margin-right: 0;
}