@import "normalize";
@import "modern-business";
@import "variables";
@import "grid";
@import "form";
body {
  h1 {
    color: white;
  }
  h2 {
  	font-size: 20px;
  }
}

.col-lg-6 > h2 {
	display: block;
	font-size: 35px;
}

img {
	vertical-align: middle;
	horizontal-align: middle;
	width: 100%;
}

img.responsive {
	vertical-align: middle;
}

nav {
	display: block;
}

.navbar {
	min-height: 60px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}

.navbar-header {
	float: left;
	margin-left: 25%;

	.navbar-brand {
		color: white;
	}
}

ul.navbar-nav {
	float: right;
	list-style-type: none;
	margin-right: 25%;

	li {
		display: inline;
	}

	a {
		display: block;
		color: white;
		width: 15%;
	}
}



.navbar-inverse {
	background-color: #222;
	border-color: #080808;
}

.navbar-fixed-top {
	// top: -50px;
	margin-top: -50px; // equal to padding at the top
	right: 0;
	left: 0;
	top: 0;
}

.navbar-right {
	float: right;
}

.section.lead {
	margin-top: -70px;
}